<p id="notice"><%= notice %></p>


<h1>trip suggestor v0.1</h1>
<%= form_tag({ :controller => 'finders', :action => 'index' }, { :method => :get, :id => 'fm' }) do %>
  <p>予算<%= text_field_tag :input_bgt, '', { :size => 25 } %>円</p>
  <p>出発駅<%= text_field_tag :deperture_place, '', { :size => 25 } %>駅</p>
<%= submit_tag '　set parameters　' %>
<% end %>

<h2>Inputs confirmation</h2>
<br><br>
<p>Budget you put : <%= @input_bgt %> </p>
<p>Budget for onsen/hotel : <%= @bgt_hotel_inf %> ~ <%= @bgt_hotel_sup %></p>
<p>Place you depart : <%= @deperture_place%>駅 </p>
<p>Place you arrive : 別府駅</p>
<br><br>

<h2>Results</h2>

<br><br>


<h2>Results</h2>
<table>
  <thead>
    <tr>
      <th>Hotel name</th>
      <th>Hotel address</th>
      <th>Pref. code</th>
      <th>Sample fare of Hotel</th>
      <th>Arrival Station</th>
      <th>Fare of Transportation</th>
    </tr>
  </thead>
  <tbody>
    <% @suggestions.each do |sggs| %>
      <tr>
        <td><%= sggs.hotel_name %></td>
        <td><%= sggs.address %></td>
        <td><%= sggs.prefcode %></td>
        <td><%= sggs.hotel_sample_fare %></td>
        <td><%= sggs.sta_arrival %></td>
        <td><%= sggs.trans_fare %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<p>Onsens matched:</p>
<% @ons_matched.each do |onsen| %>
  <%=onsen.hotel_name %>
  <%=onsen.hotel_sample_fare %>
<% end %>

<br><br>

<h2>Trip path finding process</h2>
<br><br>

<p>Place you depart : <%= @deperture_place%>駅 </p>
<p>Place you arrive : 別府駅</p>

<br><br>

<br><br><br><br>





<h1>Listing Finders' targets</h1>
<table>
  <thead>
    <tr>
      <th>Hotel name</th>
      <th>Hotel address</th>
      <th>Pref. code</th>
      <th>Sample fare of Hotel</th>
      <th>Arrival Station</th>
      <th>Fare of Transportation</th>
    </tr>
  </thead>
  <tbody>
    <% @suggestions.each do |sggs| %>
      <tr>
        <td><%= sggs[:hotel_name] %></td>
        <td><%= sggs[:address] %></td>
        <td><%= sggs[:prefcode] %></td>
        <td><%= sggs[:hotel_sample_fare] %></td>
        <td><%= sggs[:sta_arrival] %></td>
        <td><%= sggs[:trans_fare] %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br><br>
